/* line 17, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.gem/ruby/1.9.3/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* 333 */
/* 666 */
/* 999 */
/* @extend .clearfix */
/* line 27, ../_sass/_config.scss */
.clearfix, header {
  zoom: 1;
}
/* line 29, ../_sass/_config.scss */
.clearfix:before, header:before, .clearfix:after, header:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
/* line 35, ../_sass/_config.scss */
.clearfix:after, header:after {
  clear: both;
}

/* line 5, ../_sass/default.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 9, ../_sass/default.scss */
body {
  font-family: "Helvetica Neue", Helvetica-Neue, helvetica, sans-serif;
}

/* line 13, ../_sass/default.scss */
a {
  color: #666666;
  text-decoration: none;
}
/* line 17, ../_sass/default.scss */
a:hover {
  text-decoration: underline;
}

/* line 22, ../_sass/default.scss */
header {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f9f9f9;
  border-bottom: 1px solid #cccccc;
}
/* line 30, ../_sass/default.scss */
header h1 {
  float: left;
}
/* line 35, ../_sass/default.scss */
header nav ul {
  float: right;
}
/* line 38, ../_sass/default.scss */
header nav ul li {
  float: left;
  display: block;
}
/* line 42, ../_sass/default.scss */
header nav ul li a {
  padding: 0.5rem;
}

/* line 50, ../_sass/default.scss */
main {
  margin: 1rem 0;
}
/* line 53, ../_sass/default.scss */
main .pages {
  margin: 1rem;
}
/* line 54, ../_sass/default.scss */
main .next.login {
  display: block;
  margin: 0.5rem 1rem;
}
/* line 59, ../_sass/default.scss */
main h1 {
  padding: 0 1rem;
  font-size: 200%;
}
/* line 64, ../_sass/default.scss */
main .stop, main .route {
  margin: 1rem 0;
  border-top: 1px solid #cccccc;
}
/* line 68, ../_sass/default.scss */
main .stop h2, main .route h2 {
  font-size: 150%;
  padding: 0 1rem;
  padding-top: 0.5rem;
  background-color: #eeeeee;
}
/* line 75, ../_sass/default.scss */
main .stop h3, main .route h3 {
  padding: 0 1rem;
  padding-bottom: 0.5em;
  background-color: #eeeeee;
}
/* line 82, ../_sass/default.scss */
main .busses {
  padding: 0 1rem;
  margin-top: 0.5rem;
}
/* line 86, ../_sass/default.scss */
main .busses li {
  font-size: 125%;
  margin-bottom: 0.25rem;
}
/* line 92, ../_sass/default.scss */
main form.central {
  width: 50%;
  margin: 5rem auto;
}
/* line 96, ../_sass/default.scss */
main form.central label {
  display: block;
  margin-bottom: 0.25rem;
}
/* line 103, ../_sass/default.scss */
main form.central input[type='text'],
main form.central input[type='email'],
main form.central input[type='password'] {
  width: 100%;
  font-size: 100%;
  padding: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 114, ../_sass/default.scss */
main form.central button,
main form.central input[type='submit'] {
  border: none;
  color: white;
  font-size: 100%;
  padding: 0.5rem 1rem;
  background-color: #666666;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
